<template>
    <div class="row-fluid" id="login">
        <div class="span4"></div>
        <div class="span3">

            <div class="alert alert-error" v-if="error">
                {{error}}
            </div>

            <form action="#" class="form-horizontal">
                <div class="control-group">
                    <b>Авторизация</b>
                </div>
                <div class="control-group">
                    <input v-model.trim="form.username" type="text" id="inputLogin" name="username" placeholder="Логин" autocomplete="off">
                </div>
                <div class="control-group">
                    <input v-model.trim="form.password" type="password" id="inputPassword" name="password" placeholder="Пароль">
                </div>
                <div class="control-group">
                    <label class="checkbox">
                        <input v-model="form.rememberMe" type="checkbox" name="remember"> Запомнить меня
                    </label>
                    <button v-on:click.prevent="login" class="btn btn-primary">Вход</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'login',
        data: function () {
            return {
                form: {
                    username: '',
                    password: '',
                    rememberMe: 0,
                },
                error: '',
            }
        },
        methods: {
            login: function () {
                this.$http.post('v1/user/login', this.form).then(function(response){
                    if(response.data.success) {
                        localStorage.setItem('auth_key', response.data.auth_key);
                        this.$parent.getUserInfo();
                        this.$router.push('/');
                    } else {
                        this.error = response.data.error;
                    }
                });
            }
        }
    }
</script>