<template>
  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">

      <form v-if="!user.isGuest" action="" method="post" class="form-horizontal" style="margin-bottom: 50px;">
        <div class="alert alert-error" v-if="error">
          {{error}}
        </div>

        <div class="control-group">
            <textarea v-model="form.newMessage" style="width: 100%; height: 50px;" id="inputText" placeholder="Ваше сообщение...">
            </textarea>
        </div>
        <div class="control-group">
          <button v-on:click.prevent="addMessage" type="submit" class="btn btn-primary">Отправить сообщение</button>
        </div>
      </form>

      <div v-for="message in messages">
        <div class="well">

          <h5>{{message.username}}: <a v-if="message.user_id==user.id" href="#" class="icon-pencil" v-on:click.prevent="message.edit = !message.edit"></a></h5>

          <div v-if="message.user_id!=user.id || !message.edit" v-html="message.message"></div>
          <!--<button v-if="message.user_id==user.id && !message.edit" class="btn btn-link" v-on:click.prevent="message.edit = true" >{{message.message}}</button>-->
          <textarea v-if="message.edit" style="width: 100%;max-width: 100%;" v-model="message.message"></textarea>
          <button v-if="message.edit"  class="btn btn-primary" v-on:click.prevent="updateMessage(message)">
            <i class="icon-refresh"></i> Обновить
          </button>
          <button v-if="message.edit" class="btn btn-danger" v-on:click.prevent="removeMessage(message)">
            <i class="icon-remove"></i> Удалить
          </button>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
    name: 'Messages',
    props: ['user'],
    mounted: function() {
        this.getMessages();
    },
    data: function () {
      return {
          messages: [],
          form: {
              newMessage: ''
          },
          error: ''
      }
    },
    methods: {
        getMessages: function() {
            this.$http.get('v1/message/list').then(function(response){
                this.messages = response.data.messages;
            });
        },
        addMessage: function() {
//            this.$http.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('auth_key');
            this.$http.post('v1/message/add', {
                newMessage: this.form.newMessage,
                auth_key: localStorage.getItem('auth_key')
            }, {
//                headers: this.$parent.getAuthHeader()
            }).then(function(response) {
                if(response.data.success) {
                    this.getMessages();
                    this.form.newMessage = '';
                } else {
                    this.error = response.data.error;
                }
            });
        },
        removeMessage: function(message) {
            this.$http.post('v1/message/remove', {id: message.id, auth_key: localStorage.getItem('auth_key')}, {
//                headers: this.$parent.getAuthHeader()
            }).then(function(response) {
                if(response.data.success) {
                    this.getMessages();
                    this.form.newMessage = '';
                } else {
                    this.error = response.data.error;
                }
            });
        },
        updateMessage: function(message) {
            this.$http.post('v1/message/update', {id: message.id, message: message.message, auth_key: localStorage.getItem('auth_key')}).then(function(response) {
                if(response.data.success) {
                    this.getMessages();
                    this.form.newMessage = '';
                } else {
                    this.error = response.data.error;
                }
            });
        },
    }
}
</script>