<template>
    <div class="row-fluid" id="registration">
        <div class="span4"></div>
        <div class="span8">

            <form action="" method="post" class="form-horizontal">
                <div class="control-group">
                    <b>Регистрация</b>
                </div>

                <div class="control-group" v-bind:class="{ error: getErrorMessage('username')}">
                    <input v-model="form.username" type="text" placeholder="Логин"
                           autocomplete="off">
                    <span v-if="getErrorMessage('username')" class="help-inline">{{getErrorMessage('username')}}</span>
                </div>

                <div class="control-group" v-bind:class="{ error: getErrorMessage('password1')}">
                    <input v-model="form.password1" type="password" placeholder="Пароль"
                           data-cip-id="inputPassword1">
                    <span v-if="getErrorMessage('password1')" class="help-inline">{{getErrorMessage('password1')}}</span>
                </div>

                <div class="control-group" v-bind:class="{ error: getErrorMessage('password2')}">
                    <input v-model="form.password2" type="password" name="password2" placeholder="Повторите пароль"
                           data-cip-id="inputPassword2">
                    <span v-if="getErrorMessage('password2')" class="help-inline">{{getErrorMessage('password2')}}</span>
                </div>

                <div class="control-group">
                    <button v-on:click.prevent="registration" type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'registration',
        data: function () {
            return {
                form: {
                    username: '',
                    password1: '',
                    password2: '',
                },
                formErrors: {
                    username: '',
                    password1: '',
                    password2: '',
                }
            }
        },
        methods: {
            registration: function() {
                this.$http.post('v1/user/registration', this.form).then(function(response){
                    if(response.data.success) {
                        this.$router.push('/registration-success');
                    } else {
                        this.formErrors = response.data.formErrors;
                    }
                }, function(error){
                    console.log(error.statusText);
                });
            },
            getErrorMessage: function(inputName) {
                return this.formErrors[inputName];
            }
        }
    }
</script>