<template>
    <div class="row-fluid" id="registration-success">
        <div class="span2"></div>
        <div class="span8">

            <h3>Ура!</h3>

            <p>
                Поздравляем! Вы успешно зарегистрировались.
            </p>

            <p>
                Воспользуйтесь <router-link to="/login">формой авторизации</router-link> чтобы войти на сайт под своей учетной записью
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'registration-success'
    }
</script>