<template>
  <div id="app">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Сайтсофт</a>
        <ul class="nav">
          <router-link active-class="active" tag="li" to="/" exact>
            <a>Главная</a>
          </router-link>

          <router-link v-if="user.isGuest" active-class="active" tag="li" to="/login">
            <a>Авторизация</a>
          </router-link>

          <router-link v-if="user.isGuest" active-class="active" tag="li" to="/registration">
            <a>Регистрация</a>
          </router-link>
        </ul>

        <ul v-if="!user.isGuest" class="nav pull-right">
          <li><a>{{user.username}}</a></li>
          <li><a v-on:click="logout" href="#">Выход</a></li>
        </ul>
      </div>
    </div>

    <router-view v-bind:user="user"></router-view>
  </div>
</template>

<script>
export default {
    name: 'app',
    mounted: function() {
        this.getUserInfo();
    },
    data: function () {
        return {
            user: {id: null, isGuest: true, username: 'Guest'}
        }
    },
    methods: {
        getUserInfo: function () {
            this.$http.post('v1/user/', {auth_key: localStorage.getItem('auth_key')}, {
//                headers: this.getAuthHeader()
            }).then(function(response){
                if(response.data.success) {
                    this.user = response.data.userInfo;
                }
            });
        },
        logout: function() {
            localStorage.setItem('auth_key', null);
            this.getUserInfo();
        },
//        getAuthHeader() {
//            return {
//                'Authorization': 'Bearer ' + localStorage.getItem('auth_key')
//            }
//        }
    }

}
</script>